/* Game.css */
@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

/* Fondo */
.gameOnlineBackground {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #312D2D;
}

/* Formato del sidebar cuando está cerrado */
.sideGameOnline {
  position: fixed;
  z-index: 999;
  top: 0;
  left: -300px;
  bottom: 0;
  background-color: #fff;
  transition: left 0.7s ease;
}
/* Formato del sidebar cuando está abierto */
.sideGameOnline.open {
  left: 0;
}

.titleGameOnline {
  width: 100%;
  height: 10%;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

/* Formato del botón de apertura del sidebar cuando este no se está mostrando */
.sideMenuButton {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  visibility: visible;
  transform: translate(30px, 30px);
  background-color: transparent;
  opacity: 1;
  transition: opacity 0.7s ease; 
}
/* Formato del botón de apertura del sidebar cuando este se está mostrando */
.sideMenuButton.hidden {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  visibility: visible;
  transform: translate(30px, 30px);
  background-color: transparent;
  opacity: 0; 
}
.pageTitleGameOnline {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: "Anta", sans-serif;
  font-size: 24px;
  padding: 25px 30px;
  font-weight: 600;
  font-style: normal;
  background-color: #ff8e0d;
  border: solid 1px #fff;
  border-radius: 8px;
}

/*Juego */
.gameOnlineScreen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}
.gameOnline {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}
.tableroGameOnline {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Información de la partida */
.gameOnlineInfo {
  width: 42vw;
  margin: 5px;
  border: solid 1px white;
  color: white;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #7ca15a;
  transition: width 0.5s ease;
}
.gameOnlineInfo.players {
  width: 35%;
  height: 100%;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.gameOnlineInfo.players.name {
  width: 100%;
  font-weight: bolder;
}
.gameOnlineInfo.players.color {
  width: 100%;
  font-size: 16px;
}
.gameOnlineInfo.timer {
  width: 30%;
  font-weight: bold;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gameOnlineInfo.elo{
  font-weight: bold;
  width: 35%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Chat del juego */
.gameOnlineChatContainer {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: center;
}
.gameOnlineChat {
  width: 22vw;
  height: 70vh;
  border: solid 4px black;
  border-radius: 8px;
}

/* Opciones de la partida */
.gameOnlineOptions {
  width: 22vw;
  display: flex;
  flex-direction: row;
}

.gameOnlineOptionsButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #FFFFFF;
  font-size: 20px;
}

/* PopUps */
.gameOnlinePopupBackground {
  background-color: transparent;
  position: fixed;
  z-index: 999;
  /* width: 100%;
  height: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.gameOnlinePopup {
  width: 600px;
  height: 300px;
/*   width: 35vw;
  height: 34vh; */
  border: solid 2px black;
  border-radius: 16px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.63);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background-color: #ff8e0d;
}

/* Botones de los popUps */
.gameOnlinePopupButtons {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.gameOnlinePopupButt {
  width: 250px;
  height: 50px;
  color: white;
  font-size: 24px;
  border-radius: 8px;
  font-weight: bolder;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #506C64;
  transition: 0.4s ease;
}
.gameOnlinePopupButt.confirm {
  width: 125px;
}
.gameOnlinePopupButt.cancel {
  width: 125px;
}

/* Gestión de componentes según el tamaño de la ventana */
@media only screen and (max-width: 1400px) {
  .gameOnlineInfo {
    width: 50vw;
  }
}
@media only screen and (max-width: 1000px) {
  .gameOnlineInfo {
    width: 65vw;
  }
}
@media only screen and (max-width: 700px) {
  .gameOnlineInfo {
    width: 75vw;
  }
} 
@media only screen and (max-width: 600px) {
  .gameOnlineInfo {
    width: 85vw;
  }
}
@media only screen and (max-width: 700px) {
  .gameOnline {
    width: 100vw;
  }
  .gameOnlineChatContainer {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  .gameOnline {
    display: none;
  }
    .gameOnlineInfo {
    display: none;
  }
}
@media only screen and (max-width: 450px) {
  .pageTitleGameOnline {
    display: none;
  }
}

@media only screen and (max-height: 725px){
  .gameOnlineInfo {
    display: none;
  }
}
@media only screen and (max-height: 780px){
  .pageTitleGameOnline {
    display: none;
  }
}
@media only screen and (max-height: 610px) {
  .gameOnlineChatContainer {
    display: none;
  }
}