/* Fichero de estilos para BattlePass.jsx */
.background-ranking {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: url('../images/background.jpg') no-repeat center/cover;
}

/* Formato del sidebar cuando está cerrado */
.sideRanking {
  position: fixed;
  z-index: 999;
  top: 0;
  left: -300px;
  bottom: 0;
  background-color: #fff;
  transition: left 0.7s ease;
}

/* Formato del sidebar cuando está abierto */
.sideRanking.open {
  left: 0;
}

.titleRanking {
  width: 100%;
  height: 15%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Formato del botón de apertura del sidebar cuando este no se está mostrando */
.sideMenuButton {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  visibility: visible;
  transform: translate(30px, 30px);
  background-color: transparent;
  opacity: 1;
  transition: opacity 0.7s ease; 
}

/* Formato del botón de apertura del sidebar cuando este se está mostrando */
.sideMenuButton.hidden {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  visibility: visible;
  transform: translate(30px, 30px);
  background-color: transparent;
  opacity: 0; /* Opacity when hidden */
}

.pageTitleRanking {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: "Anta", sans-serif;
  font-size: 24px;
  padding: 25px 30px;
  font-weight: 600;
  background-color: #ff8e0d;
  border: solid 1px #fff;
  border-radius: 8px;
}

.ranking-container{
  width: 100%;
  display: 'flex';
  flex-direction: 'row';
  justify-content: space-between;

}

.centroRanking {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contenidoCentroRanking {
  width: 80%;
  height: 85%;
  padding: 4px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  overflow: auto;
  background-color: #506C64;
  transition: height 0.5s ease;
}


/* Gestión de componentes según el tamaño de la ventana */
@media only screen and (max-width: 1320px) {
  .centroRanking {
    height: 85%;
  }
  .contenidoCentroRanking {
    height: 90%;
  }
}
@media only screen and (max-width: 450px) {
  .centroRanking {
    display: none;
  }
  .pageTitleRanking {
    display: none;
  }
}

@media only screen and (max-height: 550px) {
  .centroRanking {
    display: none;
  }
  .pageTitleRanking {
    display: none;
  }
}